<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     
      <div class="container">
        
        <h1>Request Header Parser Microservice</h1>
        
        <div class="wrapper">
          <h2>Description</h2>
          <p>This service provides the IP address, preferred languages and system info for your device.</p>
          <p>Simply add <span>/api/whoami</span> to the tail-end of this url!</p>
        </div>
        
        <div class="wrapper">
          <h2>Example API Call</h2>
          <p><a href="api/whoami"><span>https://handsome-xylophone.glitch.me/api/whoami</span></a></p>
        </div>
        
        <div class="wrapper">
          <h2>Example Output:</h2>
          <p><code><span>{"ipaddress":"::ffff:159.20.14.100",<br>
                    "language":"en-US,en;q=0.5",<br>
                    "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</span></code></p>
        </div>
      
     </div>

   </body>

</html>
